build/autom4te.cache
build/config.*
build/configure.log
build/cluster/*
build/error.log
build/inclusion/*
build/libnptm/*
build/libtool
build/Makefile.in
build/sphere/*
build/testing/*
build/trapping/*
containers/singularity/*.sif
doc/build/*
src/libnptm/.libs
src/libnptm/*.lo
src/*/.deps
src/*/.dirstamp
src/*/*.o
syncer.sh
